In [10]:
# using real data, optimize classifier to predict given values

# split dataset into a training set and a test set
# train model on the training set
# calculate TP, FP, TN, FN on test set
# calculate sensitivity, specificity, positive predictivity and negative predictivity


from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

data = pd.read_csv('./data.txt')
data = data.values
df = pd.DataFrame(data=data, columns=["x1", "x2", "y"])
X = df.iloc[:, 0:2]
Y = df.iloc[:, 2:3]

      y
0   0.0
1   0.0
2   1.0
3   1.0
4   0.0
..  ...
94  1.0
95  1.0
96  1.0
97  1.0
98  1.0

[99 rows x 1 columns]

In [13]:
X.head()

          x1         x2
0  30.286711  43.894998
1  35.847409  72.902198
2  60.182599  86.308552
3  79.032736  75.344376
4  45.083277  56.316372

In [14]:
Y.head()

     y
0  0.0
1  0.0
2  1.0
3  1.0
4  0.0

In [12]:
from sklearn.model_selection import train_test_split

# split dataset into a training set and a test set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(79, 2)
(20, 2)
(79, 1)
(20, 1)

In [15]:
# train model on the training set
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

regr = LogisticRegression()
regr.fit(X_train, Y_train)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
from sklearn.metrics import confusion_matrix
# calculate TP, FP, TN, FN on test set
Y_predicted = regr.predict(X_test)
TN, FP, FN, TP = confusion_matrix(Y_test, Y_predicted).ravel()
(TN, FP, FN, TP)

(5, 5, 0, 10)

In [27]:
# calculate sensitivity, specificity, positive predictivity and negative predictivity
# Sensitivity, hit rate, recall, or true positive rate
TPR = TP/(TP+FN)
# Specificity or true negative rate
TNR = TN/(TN+FP) 
# Precision or positive predictive value
PPV = TP/(TP+FP)
# Negative predictive value
NPV = TN/(TN+FN)
(TPR, TNR, PPV, NPV)

(1.0, 0.5, 0.6666666666666666, 1.0)